<ion-modal-view ng-controller="ListCtrl">

  <ion-header-bar class="bar-light"> 
      <button class="button button-icon button-light icon-awicon-back" ng-click="closeModal()"></button> <h1 class="title">Favorites</h1>
  </ion-header-bar>  

  <ion-content has-bouncing="true" class="has-header"> 

        <!-- <ion-refresher on-refresh="doRefresh()" class="spinner"></ion-refresher>

        <ion-list show-delete="data.showDelete">
          <ion-item ng-repeat="event in events" class="item-remove-animate padding" ng-controller="EventCtrl" ng-click="openModal()">
          <img class="favitemimg" src="/img/displaydark.jpg">
          <h2>title{{event.title}}</h2>
          <p class="stable">catagory</p>
          <ion-option-button class="icon icon-awicon-del" ng-click="delete(apptID)"></ion-option-button>
          </ion-item>
        </ion-list>
        <div class="infiimg"> </div><br/><br/><br/><br/><br/>
        <ion-infinite-scroll  on-infinite="loadMore()" distance="-1%"></ion-infinite-scroll> -->
        <br/><br/><br/><br/><br/>
        <div class="infiimg"> </div>
            <br/><small class="text-center stable"><p> <!-- {{1}} friends --> we're working on making this available - so stay tuned!</p></small>

    </ion-content>     
</ion-modal-view>