<ion-view view-title="nav-c" >
    <ion-content>
<!--     <br/>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar" ng-repeat="chat in chats" type="item-text-wrap" ui-sref="nav.chat-detail">
        <img ng-src="{{chat.face}}">
        <h3 class="stable">{{chat.name}}</h3>
        <p><small>{{chat.lastText}}</small></p>
        <ion-option-button class="button-assertive icon icon-awicon-del" ng-click="remove(chat)"></ion-option-button>
      </ion-item>
      </ion-list>
    
    <small class="text-center stable"><p> {{0}} chats </p></small>
              <br/><br/><br/><br/><br/>
        <div class="infiimg"> </div>
  </ion-content> -->


              <br/><br/><br/><br/><br/>
        <div class="infiimg"> </div>
            <br/><small class="text-center stable"><p> <!-- {{1}} friends --> we're working on making this available - so stay tuned!</p></small>

  </ion-content>
</ion-view>