<ion-view view-title="nav-f">
    <ion-content>
      <!-- <br/> -->
<!--       <ion-list>
        <ion-item class="item-remove-animate item-avatar" type="item-text-wrap" ng-click="openInfoModal()">
        <img src=" " class="useruserimg">
        <h3>toma</h3>
        <p><small>intro</small></p>
<!--         <ion-option-button class="icon icon-awicon-del" ng-controller="FriCtrl" ng-click="unFriend()"></ion-option-button>
        </ion-item>
      </ion-list> -->
    
              <br/><br/><br/><br/><br/>
        <div class="infiimg"> </div>
            <br/><small class="text-center stable"><p> <!-- {{1}} friends --> we're working on making this available - so stay tuned!</p></small>

  </ion-content>


</ion-view>




<!--pre ver <div class="row">
      <div class="col-20 padding" on-hold="data.showDelete = !data.showDelete">
        <img src="../img/user.svg">
        <p>toma</p>
      </div>
      <div class="col-20 padding">
        <img src="../img/user.svg">
        <p>toma</p>
      </div>     
      <div class="col-20 padding">
        <img src="../img/user.svg">
        <p>toma</p>
      </div>  
      <div class="col-20 padding">
        <img src="../img/user.svg">
        <p>toma</p>
      </div>        
    </div> -->